<form action="/new" method="post">
  <label for="New Document">Add a document:</label><br>
    <input type="text" name="document_name" placeholder="Enter document name">
    <button type="create">Create</button>
</form>