<form action="/users/signin" method="post">
  <label for="username">Username:</label>
    <input type="text" name="username" value=<%=params[:username]%>>
  <br><label for="username">Password:</label>
    <input type="text" name="password">
  <br><button type="signin">Sign in</button>
</form>